:host {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  app-date, mat-accordion {
    width: 100%;
  }

  mat-accordion {
    margin-bottom: 24px;
  }

  .cdk-drag {
    cursor: move;
  }

  .cdk-drag-placeholder {
    opacity: 0.5;
  }
}

.tasks {
  &-field-section {
    width: 100%;

    .task-input {
      width: 100%;
    }
  }

  &-block {
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-item {
    padding: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
      &--complete {
        color: var(--completed-color);
      }

      &--postponed {
        color: var(--postponed-color);
      }

      &--remove {
        color: var(--remove-color);
      }
    }
  }
}
