<section class="tasks-block">
  <app-date></app-date>

  <app-progress-bar [items]="allTasks()" [segments]="taskProgressSegments">
  </app-progress-bar>

  <div class="tasks-field-section">
    <mat-form-field appearance="fill" class="task-input">
      <mat-label>Filter tasks</mat-label>
      <input matInput [value]="filterText()" (input)="onFilterChange($event)" />
    </mat-form-field>
  </div>

  <div class="tasks-field-section">
    <mat-form-field appearance="fill" type="submit" class="task-input">
      <mat-label>Add new item</mat-label>
      <input matInput [formControl]="addControl" (keydown.enter)="addTask()" />
      <button
        matSuffix
        mat-icon-button
        color="primary"
        type="submit"
        (click)="addTask()"
      >
        <mat-icon>add</mat-icon>
      </button>

      <mat-error>
        @if (addControl.errors?.['isDuplicated']) {
          Task already exists.
        }
      </mat-error>
    </mat-form-field>
  </div>

  <mat-accordion
    displayMode="flat"
    multi
    cdkDropListGroup
    [togglePosition]="'before'"
  >
    @for (panel of taskPanels; track panel) {
      <mat-expansion-panel
        #panelRef
        [expanded]="panel.status === TaskStatus.progress"
        (mouseenter)="mouseEnterHandler($event, panelRef)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ panel.title }} </mat-panel-title>
        </mat-expansion-panel-header>

        <div
          class="tasks-list"
          cdkDropList
          [cdkDropListData]="panel.tasks()"
          (cdkDropListDropped)="drop($event)"
          [id]="panel.status"
          [cdkDropListConnectedTo]="panel.connectedToPanels"
        >
          @if (!panel.tasks().length) {
            <div class="tasks-item">No items here.</div>
          }

          @for (task of panel.tasks(); track task) {
            <div class="tasks-item" cdkDrag [cdkDragData]="task">
              <span>{{ task.title }} </span>

              <div>
                @if (task.status !== TaskStatus.completed) {
                  <button
                    class="tasks-item__button--complete"
                    mat-icon-button
                    color="primary"
                    (click)="moveTask(task.id, TaskStatus.completed)"
                  >
                    <mat-icon>check</mat-icon>
                  </button>
                }

                @if (task.status === TaskStatus.progress) {
                  <button
                    class="tasks-item__button--postponed"
                    mat-icon-button
                    color="accent"
                    (click)="moveTask(task.id, TaskStatus.postponed)"
                  >
                    <mat-icon>pause</mat-icon>
                  </button>
                }

                <button
                  class="tasks-item__button--remove"
                  mat-icon-button
                  color="warn"
                  (click)="deleteTask(task.id)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          }
        </div>
      </mat-expansion-panel>
    }
  </mat-accordion>

  <button mat-button color="primary" (click)="resetAllItems()">
    Reset All Items
  </button>
</section>
